<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>RaMN official website</title>
  <meta name="description" content="キャンドル専門店のRaMNのウェブサイトです">
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag "items_fravor" , :media=> "all" %>
</head>

<body>
  <main>
    <div class="first-view">
      <%= link_to image_tag("fravor/fravor 06.jpg"), "items"  %>
        <h2>ベルガモット</h2>
        <p>
          なめらかな肌を洗いたての柔らかいシーツが優しく撫でる。その香りに包まれて目覚める清々しい朝、まるで時が止まったかのようなあの感覚が忘れられない。フィレンツェでの思い出が込められた、フレッシュでクリーンな香り。ローズやリリー、オレンジ、ホワイトムスクがすっきりした中にフルーティな香りと奥ゆかしさを感じさせます。
        </p>
    </div>
  </main>
</body>

</html>