<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>RaMN official website</title>
  <meta name="description" content="キャンドル専門店のRaMNのウェブサイトです">
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag "about_RaMN" , :media=> "all" %>
</head>

<body>
  <main>
    <div class="first-view">
      <h2>-RaMN-</h2>
      <dl>
        <dd>RaMN(ラム)は、見た目に美しさを追求し、香りで心を癒すキャンドル専門店です。私たちは、美しいデザインと魅力的な香り香りを使用し、様々な瞬間を彩るための魅力的なキャンドルを厳選して取り揃えています。</dd>
      </dl>
      <%= link_to image_tag("ikon/ikon01.jfif"), "items" , class: "items01" %>
    </div>
    <div class="second-view">
      <h2>子羊とキャンドル</h2>
      <div class="toumei">
        <div class="text-inner">
          <p>RaMNのロゴは、子羊とキャンドルがモチーフになっています。このロゴの由来には2つの意味が込められています。</p>
          <p>1.子羊の象徴: 子羊は無垢さや純粋さを象徴しています。RaMNはお客様に心地よい癒しと安らぎを提供することを目指しており、子羊のイメージはその優しさや温かさを表現しています。<br>
            2.キャンドル: キャンドルは心を温め、癒しをもたらすアイテムです。ロゴに描かれた多くキャンドルは、お店の豊富なキャンドルの種類と魅力的な光を象徴しています。</p>
          <p>このロゴのデザインによって、RaMNのコンセプトと価値観が表現されています。無垢な子羊とキャンドルの組み合わせは、穏やかさ、心地よさ、癒しの要素を伝えると同時に、お店の雰囲気や商品の特徴を視覚的に示しています。</p>
        </div>
      </div>
    </div>
    <div class="third-view">
      <h2>誕生ストーリー</h2>
      <div class="toumei">
        <dl>
          <dd>
            私たちのお店が誕生した経緯は、創業者が自身の生活でキャンドルの力を実感し、その魅力を多くの人と共有したいという想いから生まれました。日々の忙しさやストレスから解放されるために、心にやさしい癒しのアイテムが必要であると考えました。そこで、美しいキャンドルの光と香りが人々の心と心をつなぐ特別な場所を提供することを目指し、RaMNが誕生しました。<br>
            RaMN（ラムン）の誕生ストーリーは、美しさと癒しを追求する情熱から始まりました。
            創業者は、自身の生活でキャンドルの力を実感し、その魅力を多くの人と共有したいという強い思いを抱いていました。日々の忙しさやストレスから解放されるために、心にやさしい癒しのアイテムが必要であると感じたのです。</dd>
        </dl>
      </div>
    </div>
    <div class="fourth-view">
      <div class="toumei">
        <h2>私たちから</h2>
        <dl>
          <p>私たちの、</p>
          <p>美しい灯り・<br>
            魅力的な香り・<br>
            お部屋に調和するデザイン</p>
          <p>に拘ったキャンドルの中でゆったりと過ごすことで、日常の疲れやストレスから解放され、心身のバランスを取り戻すお手伝いをいたします。<br>
            美しいキャンドルの光と優れた香りが、空間に温かな雰囲気をもたらし、心にやすらぎをもたらすことでしょう。<br>
            皆様の生活に寄り添う、</p>
          <p>一輪の花となれば幸いです。</p>
        </dl>
      </div>
    </div>
    <div class="fifth-view">
      <dl>
        <dt>ー光と香りの融合ー</dt>
        <dd>
          燃えるキャンドルの柔らかな光は、周囲の空間を温かく照らし出し、穏やかな雰囲気を醸し出します。さらに、豊かな香りが広がり、心地よいアロマ効果を提供します。リラックスした時間を過ごしたり、特別な瞬間を演出するのに最適です。
        </dd>
      </dl>
      <%= link_to image_tag("photo/photo 20.jpg"), "items" , class: "items01" %>
      <p>ぜひ、RaMNのキャンドルをご体験いただき、その魅力に包まれる贅沢なひとときをお楽しみください。</p>
    </div>
  </main>
</body>

</html>