<div class="first-view">
      <h2>お買い物手順</h2>
      <div class="board">
        <p>配達地域、配送料、決済方法は下記のとおりです。</p>
        <ul>
          <li>◦配達地域：佐賀市内のみ</li>
          <li>◦配送料：～openキャンペーン中～ <br>無料</li>
          <li>◦決済方法：代引き引き換えのみ <br>（現金 or PayPay）</li>
        </ul>
      </div>
    </div>
    <div class="second-view">
      <div class="title-container">
        <div class="title">
          <%= link_to image_tag("photo/photo 20.jpg"), "items" , class: "items01" %>
          <p>STEP1.商品を選ぶ</p>
        </div>
        <p>-----------------------------------</p>
        <p>お好みの商品をお選びください</p>
        <p class="direction">⇓</p>
      </div>
      <div class="title-container">
        <div class="title">
          <%= link_to image_tag("photo/photo 20.jpg"), "items" , class: "items01" %>
          <p>STEP2.カートに商品を入れる</p>
        </div>
        <p>-----------------------------------</p>
        <p>商品をショッピングカートにお入れください</p>
        <p class="direction">⇓</p>
      </div>
      <div class="title-container">
        <div class="title">
          <%= link_to image_tag("photo/photo 20.jpg"), "items" , class: "items01" %>
          <p>STEP3.ご注文内容確定</p>
        </div>
        <p>-----------------------------------</p>
        <p>ご注文内容確認後、ご注文を確定してください<br>
          ※ご注文確定後、自動返信メールが届きます届きます</p>
          <p class="direction">⇓</p>
      </div>
      <div class="title-container">
        <div class="title">
          <%= link_to image_tag("photo/photo 20.jpg"), "items" , class: "items01" %>
          <p>STEP4.商品の発送</p>
        </div>
        <p>-----------------------------------</p>
        <p>商品ができ次第、順次発送となります順次発送となります<br>
          ※通常、ご注文頂いてから2～3日後に発想致します<br>
          ※商品引き渡し時に、代引き引き換えとなります</p>
          <p class="direction">⇓</p>
      </div>
    </div>
